NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=
SUPABASE_DB_PASSWORD=
SUPABASE_DB_URL=

DUNDEE_INSTANCE_ID=wa_mtn328n7_t5crc
DUNDEE_LINE_PHONE=447883023296
DUNDEE_LINE_NAME=Tyre Fighter Dundee
WASUP_BASE_URL=https://wasup.northeurope.cloudapp.azure.com

DUNDEE_OPERATOR_EMAIL=
DUNDEE_OPERATOR_PASSWORD=
DUNDEE_INGEST_SECRET=
